<div class="alert alert-success" role="alert">
  Hier zeigen wir euch was es für Euch im Linuxspiele-Advent an 24. Tagen zu gewinnen gibt!
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item"><h4 class="list-group-item-heading">Holarse - Spielen unter Linux</h4></li>
      <li class="list-group-item"><span class="badge">?</span>Spiel 1</li>
      <li class="list-group-item"><span class="badge">?</span>Spiel 1</li>
      <li class="list-group-item"><span class="badge">?</span>Spiel 1</li>
      <li class="list-group-item"><span class="badge">?</span>Spiel 1</li>
      <li class="list-group-item"><span class="badge">?</span>Spiel 1</li>
    </ul>    
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item"><h4 class="list-group-item-heading">GTuxTV</h4></li>
      <li class="list-group-item"><span class="badge">?</span>Spiel 1</li>
      <li class="list-group-item"><span class="badge">?</span>Spiel 1</li>
      <li class="list-group-item"><span class="badge">?</span>Spiel 1</li>
      <li class="list-group-item"><span class="badge">?</span>Spiel 1</li>
      <li class="list-group-item"><span class="badge">?</span>Spiel 1</li>
    </ul>        
  </div>
</div>
