<div class="alert alert-success" role="alert">
  Hier zeigen wir euch was es für Euch im Linuxspiele-Advent an 24. Tagen zu gewinnen gibt! Die Reihenfolge der noch zu verlosenden Spiele ist hier nicht ausschlaggebend.
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item"><h4 class="list-group-item-heading">Holarse - Spielen unter Linux</h4></li>
      <a href="https://www.holarse-linuxgaming.de/wiki/aquaria" class="list-group-item"><span class="badge">1</span>Aquaria</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/anodyne" class="list-group-item"><span class="badge">?</span>Anodyne</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/greed_corp" class="list-group-item"><span class="badge">?</span>Greed Corp</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/incredipede" class="list-group-item"><span class="badge">?</span>Incredipede</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/bards_tale" class="list-group-item"><span class="badge">?</span>The Bard's Tale</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/anomaly_korea" class="list-group-item"><span class="badge">?</span>Anomaly Korea</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/Worms_Reloaded" class="list-group-item"><span class="badge">?</span>Worms Reloaded</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Broken Sword</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/organ_trail" class="list-group-item"><span class="badge">?</span>Organ Trail</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/stealth_bastard_deluxe" class="list-group-item"><span class="badge">?</span>Stealth Bastard Deluxe</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>McPixel</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/waking_mars" class="list-group-item"><span class="badge">?</span>Waking Mars</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/amnesia_dark_descent" class="list-group-item"><span class="badge">?</span>Amnesia: Dark Descent</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/thomas_was_alone" class="list-group-item"><span class="badge">?</span>Thomas Was Alone</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/botanicula" class="list-group-item"><span class="badge">?</span>Botanicula</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/fez" class="list-group-item"><span class="badge">?</span>FEZ</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/wargame_european_escalation" class="list-group-item"><span class="badge">?</span>Wargame: European Escalation</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/guns_icarus_online" class="list-group-item"><span class="badge">?</span>Guns Of Icarus Online</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/hotline_miami" class="list-group-item"><span class="badge">?</span>Hotline Miami</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Hack 'n' Slash</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/solar_2" class="list-group-item"><span class="badge">?</span>Solar 2</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/teleglitch" class="list-group-item"><span class="badge">?</span>Teleglitch: Die More Edition</a>
      <a href="https://www.holarse-linuxgaming.de/wiki/postal_2" class="list-group-item"><span class="badge">?</span>Postal 2</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>The Bridge</a>
    </ul>    
  </div>
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item"><h4 class="list-group-item-heading">GTuxTV</h4></li>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">1</span>Waking Mars</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>ARMA Tactics</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Euro Truck Simulator 2</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Toki Tori</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Lyne</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Bastion</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>VVVVVVV</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Hammerfight</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Postal</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Savant Ascent</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Rochard</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Serious Sam 3</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>XCOM: Enemy Unknown</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Sanctum 2</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Hotline Miami</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Super Hexagon</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Gateways</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Fortix 2</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>The Journey Down I</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>The Magic Crystals</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>RUSH</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Killing Floor</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>World Of Goo</a>
      <a href="javascript:void(0);" class="list-group-item"><span class="badge">?</span>Sparkle 2 Evo</a>
    </ul>        
  </div>
</div>
