<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="<%= todays_entry.url %>"></iframe>
</div>

<div class="container text-center">
  <%= link_to "participate", class: "btn btn-danger btn-lg" do %>
    Ich will mitmachen!
  <% end %>
</div>


