<div class="page-header">
  <h1>Für das Adventstürchen eintragen<small>Türchen Nr. <%= todays_entry.day %></small></h1>
</div>

<p>
  Hier könnt ihr Euch eintragen, um am Gewinnspiel für das heutige Adventstürchen teilzunehmen. Der Gewinner wird zufällig aus den
  eingegangenen Eintragungen jeden Tag neu ausgelost. Dazu müsst ihr einen Kommentar in dem verlinkten Video hinterlassen.
</p>

<p>
  Zu Gewinnen gibt es jeden Tag zwei Linux-Spiele, dass ihr mit Steam auslösen könnt. Welches ist geheim und soll die Spannung steigern :-). Die <%= link_to "Spieleliste", "/games" %> könnt ihr aber natürlich einsehen.
</p>

<p>
  Um auf GTuxTV zu gewinnen, müsst ihr auf Youtube einen Kommentar hinterlassen. Um auf Holarse zu gewinnen, müsst dies ebenso tun.
</p>

<p>
  Viel Spaß und Glück wünschen Euch, <br />
  <a href="https://www.holarse-linuxgaming.de">Holarse - Spielen unter Linux</a> und <a href="https://www.youtube.com/GTuxTV">GTuxTV</a>
</p>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Bei <a href="https://www.holarse-linuxgaming.de">Holarse</a> mitmachen</div>
      <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="<%= todays_entry.url_holarse %>"></iframe>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-body">
            Einfach einen Kommentar im Video hinterlegen
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Bei <a href="https://www.youtube.com/GTuxTV">GTuxTV</a> mitmachen</div>
      <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="<%= todays_entry.url_gtuxtv %>"></iframe>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            Einfach einen Kommentar im Video hinterlegen
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

